article
  .article-intro
    font-size 1.2rem // = 24px

  h2 + *
    margin-top 0.5em

  header
    margin-bottom 3rem
    padding-bottom .295rem

code
  font-family $monospace-font-stack
  font-size-adjust 0.5
  letter-spacing -0.5px

pre
  border-radius 2px

  code
    font-size-adjust none
    letter-spacing normal

blockquote
  position relative
  border-bottom 1px solid #ccc
  padding-left 2.5rem
  margin: 2em 0

  &::before
    content '“'
    position absolute
    left 0
    top -.15em
    font-size 5rem
    line-height 1
    color #ccc

