.container
  width 100%
  max-width $body-max-width
  margin 0 auto

.row
  display flex
  flex-direction: row;

.highlight-box
  padding 0 15px
  color $darkgray
  border-left 4px solid #ddd

header span
  display block
  font-size 0.875rem
  font-weight 300
  letter-spacing 0.25px
  color $darkgray

  &.deck
   color green
