.container
  width 100%
  max-width $body-max-width
  margin 0 auto

  // "15" determined by fair trial and error
  @media screen and (max-width $body-max-width + 15)
    max-width none
    padding 0 $container-padding

.grid-container
  display grid
  grid-column-gap 3rem
  grid-template-columns 66% 33%
  margin-bottom 1rem

@media screen and (max-width $single-column-width)
  .grid-container
    display block

.highlight-box
  padding 0 15px
  color colormode('dim-color')
  border-left 4px solid #ddd

  @media (prefers-dark-interface)
    color $dim-color-darkmode

header span
  display block
  font-size 0.875rem
  font-weight 300
  letter-spacing 0.25px
  color colormode('dim-color')

  @media (prefers-dark-interface)
    color $dim-color-darkmode
