nav
  text-align right
  margin 1rem 0 2rem

  a,
  a:link
    text-transform uppercase
    margin-left .8em

  @media screen and (max-width $mobile-width)
    text-align left

    a:first-child
      margin-left 0

