.project-list
  list-style-type none
  padding 0

.grid-container
  display grid
  grid-column-gap 3rem
  grid-template-columns 66% 33%
  margin-bottom 1rem

@media screen and (max-width $single-column-width)
  .grid-container
    display block

  .grid-2-3 + ul
    margin-top: 1em

.grid-3-3
  grid-column-start 1
  grid-column-end 3


.tag-list
  list-style-type none
  margin 0
  padding 0

  li
    display inline-block
    margin 0.25em
    padding .25em .4em

    font-size 75%
    line-height 1
    text-align center
    white-space nowrap
    vertical-align baseline

    border-radius .125rem
    background-color hsl(210, 17%, 98%)
    background-image linear-gradient(180deg, hsl(210, 17%, 98%), hsl(210, 17%, 95%))
    box-shadow 0px 0px 2px hsl(210, 17%, 80%)
