aside h2:first-child
    margin-top 0

.skill-list
  list-style-type none
  margin 0
  padding 0
  font-size 0.889rem
  line-height 1.69

  li::after
    content ", "

  li:last-child::after
    content ""

  li
    display inline
