$mobile-width        = 480px
$body-max-width      = 780px
$body-max-width-home = 980px


$red       = #e31445
$blue      = #22bad9//#00a3d9
$darkblue  = #001f30
$darkgray  = #555
$lightgray = #999


padded-link($padding)
    padding-left $padding
    padding-right $padding
    margin-left $padding * -1
    margin-right $padding * -1
