$mobile-width         = 480px
$single-column-width  = 540px
$body-max-width       = 50em

$red       = #e31445
$blue      = #22bad9 // not in use
$darkblue  = #002133 // = hsl(201, 100%, 10%)
$darkgray  = #666
$lightgray = #999

$monospace-font-stack = Menlo,"Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace
