@import '_variables'
// @import '_webfonts'
@import '_layout'
@import '_navigation'
@import '_lists'
@import '_article-overview'
@import '_project-overview'
@import '_talk-overview'

html
  box-sizing border-box
  margin 0
  padding 0

  background colormode('background-color')
  color colormode('text-color')

  font-size 20px
  line-height 1.5
  font-family $default-font-stack
  font-weight 300

  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  font-smoothing antialiased

  @media screen and (max-width $single-column-width)
    font-size 16px

  @media (prefers-color-scheme: dark)
    background $background-color-darkmode
    color $text-color-darkmode

*, *:before, *:after
  box-sizing inherit

::selection
  background colormode('selection-color')
  color colormode('background-color')

  @media (prefers-color-scheme: dark)
    background $selection-color-darkmode
    color $background-color-darkmode

body
  border-top: 1px solid colormode('header-color')
  margin 0
  padding 0

  @media (prefers-color-scheme: dark)
    border-top: 1px solid $header-color-darkmode

  header > .container
    border-top 0.4rem solid colormode('header-color')

    @media (prefers-color-scheme: dark)
      border-top 0.4rem solid $header-color-darkmode

  > footer
    margin-top 5em
    margin-bottom 2em

img
  max-width 100%

article
  margin-bottom 2.2rem

h1,
h2,
h3,
h4,
h5
  font-weight normal
  margin-bottom .5rem
  color colormode('headline-color')

  @media (prefers-color-scheme: dark)
    color $headline-color-darkmode

  a
    color inherit

h1
  font-size 2.0rem
  margin-bottom 0

h2
  font-size 1.5rem
  margin-top 1.5rem

h3
  margin-top 1em

a,
a:link,
a:visited,
a:active
  color colormode('link-color')
  text-decoration none
  transition color 1s ease-out

  @media (prefers-color-scheme: dark)
    color $link-color-darkmode

a:hover,
a:active,
a.active
  color colormode('link-active-color')

  @media (prefers-color-scheme: dark)
    color $link-active-color-darkmode

.p-name > a
  color inherit
  cursor inherit
  pointer-events none

hr
  border 1px solid $lightgray
  border-bottom transparent

abbr[title],
acronym[title]
  text-decoration none
  cursor help
  border-bottom 1px dotted $darkgray

ul
  padding-left 1.2rem

strong.normal
  font-weight normal

.visually-hidden
  position absolute
  top -9999px
  left -9999px
  line-height 0
  height 0
  font-size 0

.home-intro
  margin-top 140px
  font-size 1.5rem

  h1,
  span
    font-size inherit
