<footer role="contentinfo" aria-label="Postal address and contact links" class="page h-card">
    {{#equals path ''}}
        <div vocab="https://schema.org/" typeof="Person" class="container">
            <strong class="normal">Frederic Hemberger</strong><br>
            <span class="h-adr">
                <span class="text-divider-slash p-street-address">Düsseldorfer Straße 114</span>
                <span class="text-divider-slash"><span class="p-postal-code">51063</span> <span class="p-locality">Cologne</span></span>
                <span class="p-country-name">Germany</span>
            </span>

            <ul class="list-divider-slash">
                <li><a href="&#x006D;&#x0061;&#x0069;&#x006C;&#x0074;&#x006F;&#x003A;hello&#x0040;frederic-hemberger.de" property="email" rel="me" class="u-email">Mail</a></li>
                <li><a href="https://twitter.com/fhemberger" rel="me">Twitter</a></li>
                <li><a href="https://github.com/fhemberger" rel="me">GitHub</a></li>
                <li><a href="https://www.xing.com/profile/Frederic_Hemberger" rel="me">Xing</a></li>
            </ul>
            <p>
                <small><abbr title="value added tax identification number">VAT ID</abbr><span aria-hidden="true">:</span> DE281597786</small>
            </p>
        </div>
    {{else}}
        <div vocab="https://schema.org/" typeof="Person" class="container">
            <strong class="normal p-name">Frederic Hemberger</strong><br>
            <span class="p-job-title">Freelance Web-Developer & Consultant</span>

            <ul class="list-divider-slash">
                <li><a href="&#x006D;&#x0061;&#x0069;&#x006C;&#x0074;&#x006F;&#x003A;hello&#x0040;frederic-hemberger.de" property="email" rel="me" class="u-email">Mail</a></li>
                <li><a href="https://twitter.com/fhemberger" rel="me">Twitter</a></li>
                <li><a href="https://github.com/fhemberger" rel="me">GitHub</a></li>
                <li><a href="https://www.xing.com/profile/Frederic_Hemberger" rel="me">Xing</a></li>
            </ul>
        </div>

    {{/equals}}
</footer>

{{#startswith path 'artikel/'}}<link rel="stylesheet" href="/static/css/article.css" media="all">{{/startswith}}
{{#startswith path 'articles/'}}<link rel="stylesheet" href="/static/css/article.css" media="all">{{/startswith}}

