<footer role="contentinfo" aria-label="Postal address and contact links" class="page h-card">
    {{#equals path ''}}
        <div vocab="https://schema.org/" typeof="Person" class="container">
            <strong class="normal p-name" property="name"><a href="https://frederic-hemberger.de/" class="u-url u-uid">Frederic Hemberger</a></strong><br>
            <span class="h-adr" property="address" typeof="PostalAddress">
                <span class="text-divider-slash p-street-address" property="addressLocality">Düsseldorfer Straße 114</span>
                <span class="text-divider-slash"><span class="p-postal-code" property="postalCode">51063</span> <span class="p-locality" property="addressLocality">Cologne</span></span>
                <span class="p-country-name" property="addressCountry">Germany</span>
            </span>

            <ul class="list-divider-slash">
                <li><a href="&#x006D;&#x0061;&#x0069;&#x006C;&#x0074;&#x006F;&#x003A;hello&#x0040;frederic-hemberger.de" rel="me">Mail</a></li>
                <li><a href="https://twitter.com/fhemberger" rel="me" class="u-url">Twitter</a></li>
                <li><a href="https://github.com/fhemberger" rel="me" class="u-url">GitHub</a></li>
                <li><a href="https://www.xing.com/profile/Frederic_Hemberger" rel="me" class="u-url">Xing</a></li>
            </ul>
            <p>
                <small class="text-divider-slash"><abbr title="value added tax identification number">VAT ID</abbr><span aria-hidden="true">:</span> <span property="vatID">DE281597786</span></small>
                <small><a href="/privacy.html">Privacy Policy</a></small>
            </p>
        </div>
    {{else}}
        <div vocab="https://schema.org/" typeof="Person" class="container">
            <strong class="normal p-name" property="name"><a href="https://frederic-hemberger.de/" class="u-url u-uid">Frederic Hemberger</a></strong><br>
            <span class="p-job-title" property="jobTitle">Freelance Web-Developer & Consultant</span>

            <ul class="list-divider-slash">
                <li><a href="&#x006D;&#x0061;&#x0069;&#x006C;&#x0074;&#x006F;&#x003A;hello&#x0040;frederic-hemberger.de" rel="me">Mail</a></li>
                <li><a href="https://twitter.com/fhemberger" rel="me" class="u-url">Twitter</a></li>
                <li><a href="https://github.com/fhemberger" rel="me" class="u-url">GitHub</a></li>
                <li><a href="https://www.xing.com/profile/Frederic_Hemberger" rel="me" class="u-url">Xing</a></li>
            </ul>
        </div>

    {{/equals}}
</footer>

{{#startswith path 'articles/'}}<link rel="stylesheet" href="/static/css/article.css" media="all">{{/startswith}}

