<header>
    <div class="container">
        <nav role="navigation">
            <a href="/"{{#equals path ''}} class="active"{{/equals}}>Home</a>
            <a href="/about/"{{#startswith path 'about'}} class="active"{{/startswith}}>About</a>
            <a href="/articles/"{{#startswith path 'articles'}} class="active"{{/startswith}}>Articles</a>
            <a href="/talks/"{{#startswith path 'talks'}} class="active"{{/startswith}}>Talks</a>
        </nav>
    </div>
</header>
