<!DOCTYPE html>
<html lang="en">
{{> html-head }}

<body>
    {{> header }}

    <main>
        <div class="container">

            <h2>Articles in English</h2>
            <ul class="article-list" lang="en">
                {{#each collections.articles}}
                    {{#equals lang 'en'}}
                        {{> article-listing-detail }}
                    {{/equals}}
                {{/each}}
            </ul>

        </div>
    </main>

    {{> footer }}
</body>
</html>
