<!DOCTYPE html>
<html lang="en">
{{> html-head }}

<body>
    {{> header }}

    <main>
        <div class="container">

            <h2>Articles in English</h2>
            <ul class="article-list" lang="en">
                {{#each collections.articles}}
                    {{#equals lang 'en'}}
                        {{> article-listing-detail }}
                    {{/equals}}
                {{/each}}
            </ul>

            <h2>Articles in German</h2>
            <ul class="article-list" lang="de">
                {{#each collections.articles}}
                    {{#equals lang 'de'}}
                        {{> article-listing-detail }}
                    {{/equals}}
                {{/each}}
            </ul>


            <h2>Podcasts in German</h2>
            <ul class="article-list" lang="de">
                {{#each collections.podcasts}}
                    <li>
                        <div class="article-deck"><time>{{ strftime date }}</time>{{#if deck}} · {{ deck }}{{/if}}</div>
                        <a href="{{ path }}")>{{{ title }}}</a>
                    </li>
                {{/each}}
            </ul>

        </div>
    </main>

    {{> footer }}
</body>
</html>
