<!DOCTYPE html>
<html lang="en">
{{> html-head }}

<body>
    {{> header }}

    <main>
        <div class="container">
            <h1>{{ headline }}</h1>

            <div class="grid-container">
                <div>
                    {{{ contents }}}

                    <h2>Recent projects</h2>
                    {{#each collections.projects}}
                        {{> project-listing-detail }}
                    {{/each}}
                </div>

                <aside>
                    <h2>Skills</h2>
                    {{#each skills}}
                        <h3>{{ section }}</h3>
                        <ul class="skill-list">
                            {{#each list}}
                                <li>{{{ . }}}</li>
                            {{/each}}
                        </ul>
                    {{/each}}
                </aside>
            </div>

        </div>
    </main>

    {{> footer }}
</body>

</html>
