<!DOCTYPE html>
<html lang="en">
{{> html-head }}

<body id="home">
    {{> header }}

    <main>
        <div class="container">
            <div class="home-intro">

                <h1>
                    Frederic Hemberger<br>
                    <span>Freelance Web-Developer & Consultant</span>
                </h1>

                {{{ contents }}}

            </div>

            <a href="/about/" class="button">Learn more about my work</a>

        </div>
    </main>

    {{> footer }}
</body>
</html>
