<!DOCTYPE html>
<html lang="en">
{{> html-head }}

<body id="home">
    {{> header }}

    <main>
        <div class="container">
            <div class="home-intro">
                {{{ contents }}}
            </div>

        </div>
    </main>

    {{> footer }}
</body>
</html>
