<!DOCTYPE html>
<html lang="en">
{{> html-head }}

<body>
    {{> header }}

    <main>
        <div class="container">

            <h2>Talks in English</h2>
            {{#each collections.talks}}
                {{#equals lang 'en'}}
                    {{> talk-listing-detail}}
                {{/equals}}
            {{/each}}

            <h2>Talks in German</h2>
            {{#each collections.talks}}
                {{#equals lang 'de'}}
                    {{> talk-listing-detail}}
                {{/equals}}
            {{/each}}

        </div>
    </main>

    {{> footer }}
</body>
</html>
